No 'spin.toml' in current directory. Using 'spin.toml' from parent directory (../spin.toml)
Building component nvms with `tinygo build -target=wasip1 -gc=leaking -no-debug -o main.wasm main.go`
Building component provisioner with `tinygo build -target=wasip1 -gc=leaking -no-debug -o main.wasm main.go`
Working directory: "..\Provisioner"
Building component builder with `npm run build`
Working directory: "..\Builder"

> builder@1.0.0 build
> npx webpack --mode=production && npx mkdirp target && npx j2w -i dist.js -d combined-wit -n combined -o target/builder.wasm

(node:213068) ExperimentalWarning: CommonJS module C:\Users\koosh\AppData\Roaming\npm\node_modules\npm\node_modules\debug\src\node.js is loading ES Module C:\Users\koosh\AppData\Roaming\npm\node_modules\npm\node_modules\supports-color\index.js using require().
Support for loading ES Module in require() is an experimental feature and might change at any time
(Use `node --trace-warnings ...` to show where the warning was created)
(node:213172) ExperimentalWarning: CommonJS module C:\Users\koosh\Dev\BytePort\backend\nvms\Builder\node_modules\webpack-cli\lib\webpack-cli.js is loading ES Module C:\Users\koosh\Dev\BytePort\backend\nvms\Builder\webpack.config.js using require().
Support for loading ES Module in require() is an experimental feature and might change at any time
(Use `node --trace-warnings ...` to show where the warning was created)
asset [1m[33mdist.js[39m[22m [1m[33m794 KiB[39m[22m [1m[32m[emitted][39m[22m [javascript module] [1m[33m[big][39m[22m (name: main)
orphan modules 922 KiB [1m[33m[orphan][39m[22m 720 modules
runtime modules 663 bytes 3 modules
cacheable modules 805 KiB
  modules by path [1m./node_modules/fast-xml-parser/src/[39m[22m 62.4 KiB
    modules by path [1m./node_modules/fast-xml-parser/src/xmlparser/*.js[39m[22m 32 KiB 6 modules
    modules by path [1m./node_modules/fast-xml-parser/src/*.js[39m[22m 16.2 KiB
      [1m./node_modules/fast-xml-parser/src/fxp.js[39m[22m 259 bytes [1m[33m[built][39m[22m [1m[33m[code generated][39m[22m
      + 2 modules
    modules by path [1m./node_modules/fast-xml-parser/src/xmlbuilder/*.js[39m[22m 14.2 KiB
      [1m./node_modules/fast-xml-parser/src/xmlbuilder/json2xml.js[39m[22m 9.35 KiB [1m[33m[built][39m[22m [1m[33m[code generated][39m[22m
      [1m./node_modules/fast-xml-parser/src/xmlbuilder/orderedJs2Xml.js[39m[22m 4.9 KiB [1m[33m[built][39m[22m [1m[33m[code generated][39m[22m
  [1m./src/spin.ts + 400 modules[39m[22m 713 KiB [1m[33m[built][39m[22m [1m[33m[code generated][39m[22m
  [1m./node_modules/bowser/es5.js[39m[22m 25.4 KiB [1m[33m[built][39m[22m [1m[33m[code generated][39m[22m
  [1m./node_modules/strnum/strnum.js[39m[22m 4.7 KiB [1m[33m[built][39m[22m [1m[33m[code generated][39m[22m

[1m[33mWARNING[39m[22m in [1masset size limit: The following asset(s) exceed the recommended size limit (244 KiB).
This can impact web performance.
Assets: 
  dist.js (794 KiB)[39m[22m

[1m[33mWARNING[39m[22m in [1mentrypoint size limit: The following entrypoint(s) combined asset size exceeds the recommended limit (244 KiB). This can impact web performance.
Entrypoints:
  main (794 KiB)
      dist.js
[39m[22m

[1m[33mWARNING[39m[22m in [1mwebpack performance recommendations: 
You can limit the size of your bundles by using import() or require.ensure to lazy load some parts of your application.
For more info visit https://webpack.js.org/guides/code-splitting/[39m[22m

webpack 5.97.1 compiled with [1m[33m3 warnings[39m[22m in 4194 ms
(node:213524) ExperimentalWarning: CommonJS module C:\Users\koosh\AppData\Roaming\npm\node_modules\npm\node_modules\debug\src\node.js is loading ES Module C:\Users\koosh\AppData\Roaming\npm\node_modules\npm\node_modules\supports-color\index.js using require().
Support for loading ES Module in require() is an experimental feature and might change at any time
(Use `node --trace-warnings ...` to show where the warning was created)
(node:213968) ExperimentalWarning: CommonJS module C:\Users\koosh\AppData\Roaming\npm\node_modules\npm\node_modules\debug\src\node.js is loading ES Module C:\Users\koosh\AppData\Roaming\npm\node_modules\npm\node_modules\supports-color\index.js using require().
Support for loading ES Module in require() is an experimental feature and might change at any time
(Use `node --trace-warnings ...` to show where the warning was created)
Using user provided wit in: combined-wit
Successfully written component
Finished building all Spin components
Logging component stdio to "..\.spin\logs\"
Preparing Wasm modules is taking a few seconds...


Serving http://127.0.0.1:3000
Available Routes:
  provisioner: http://127.0.0.1:3000/provision
  builder: http://127.0.0.1:3000/build
  nvms: http://127.0.0.1:3000 (wildcard)
